In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_excel('DS1_C7_S4_Project_BirdStrike_Data.xlsx')

In [9]:
df.columns

Index(['Record ID', 'Aircraft: Type', 'Airport: Name', 'Altitude bin',
       'Aircraft: Make/Model', 'Wildlife: Number struck',
       'Wildlife: Number Struck Actual', 'Effect: Impact to flight',
       'FlightDate', 'Effect: Indicated Damage',
       'Aircraft: Number of engines?', 'Aircraft: Airline/Operator',
       'Origin State', 'When: Phase of flight', 'Conditions: Precipitation',
       'Remains of wildlife collected?',
       'Remains of wildlife sent to Smithsonian', 'Remarks', 'Wildlife: Size',
       'Conditions: Sky', 'Wildlife: Species',
       'Pilot warned of birds or wildlife?', 'Cost: Total $',
       'Feet above ground', 'Number of people injured', 'Is Aircraft Large?'],
      dtype='object')

In [13]:
df.set_index('Record ID', inplace = True)

In [21]:
df.isnull().sum()

Aircraft: Type                               129
Airport: Name                                129
Altitude bin                                 129
Aircraft: Make/Model                           0
Wildlife: Number struck                      129
Wildlife: Number Struck Actual                 0
Effect: Impact to flight                   23480
FlightDate                                   129
Effect: Indicated Damage                       0
Aircraft: Number of engines?                 267
Aircraft: Airline/Operator                   129
Origin State                                 449
When: Phase of flight                        129
Conditions: Precipitation                  23543
Remains of wildlife collected?                 0
Remains of wildlife sent to Smithsonian        0
Remarks                                     4771
Wildlife: Size                               129
Conditions: Sky                                0
Wildlife: Species                              0
Pilot warned of birds or wildlife?           129
Cost: Total $                                  0
Feet above ground                            129
Number of people injured                       0
Is Aircraft Large?                           129
dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25558 entries, 202152 to 319593
Data columns (total 25 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Aircraft: Type                           25429 non-null  object
 1   Airport: Name                            25429 non-null  object
 2   Altitude bin                             25429 non-null  object
 3   Aircraft: Make/Model                     25558 non-null  object
 4   Wildlife: Number struck                  25429 non-null  object
 5   Wildlife: Number Struck Actual           25558 non-null  int64
 6   Effect: Impact to flight                 2078 non-null   object
 7   FlightDate                               25429 non-null  datetime64[ns]
 8   Effect: Indicated Damage                 25558 non-null  object
 9   Aircraft: Number of engines?             25291 non-null  object
 10  Aircraft: Airline/Operator               25429 non-null  object
 11  Origin State                             25109 non-null  object
 12  When: Phase of flight                    25429 non-null  object
 13  Conditions: Precipitation                2015 non-null   object
 14  Remains of wildlife collected?           25558 non-null  bool
 15  Remains of wildlife sent to Smithsonian  25558 non-null  bool
 16  Remarks                                  20787 non-null  object
 17  Wildlife: Size                           25429 non-null  object
 18  Conditions: Sky                          25558 non-null  object
 19  Wildlife: Species                        25558 non-null  object
 20  Pilot warned of birds or wildlife?       25429 non-null  object
 21  Cost: Total $                            25558 non-null  int64
 22  Feet above ground                        25429 non-null  float64
 23  Number of people injured                 25558 non-null  int64
 24  Is Aircraft Large?                       25429 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(1), int64(3), object(18)
memory usage: 4.7+ MB

In [33]:
numerical = df.select_dtypes(include = ['int64', 'float64']).columns
numerical

Index(['Wildlife: Number Struck Actual', 'Cost: Total $', 'Feet above ground',
       'Number of people injured'],
      dtype='object')

In [35]:
categorical = df.select_dtypes(include = 'object').columns
categorical

Index(['Aircraft: Type', 'Airport: Name', 'Altitude bin',
       'Aircraft: Make/Model', 'Wildlife: Number struck',
       'Effect: Impact to flight', 'Effect: Indicated Damage',
       'Aircraft: Number of engines?', 'Aircraft: Airline/Operator',
       'Origin State', 'When: Phase of flight', 'Conditions: Precipitation',
       'Remarks', 'Wildlife: Size', 'Conditions: Sky', 'Wildlife: Species',
       'Pilot warned of birds or wildlife?', 'Is Aircraft Large?'],
      dtype='object')

In [39]:
df[numerical].isnull().sum()

Wildlife: Number Struck Actual      0
Cost: Total $                       0
Feet above ground                 129
Number of people injured            0
dtype: int64

In [37]:
numerical

Index(['Wildlife: Number Struck Actual', 'Cost: Total $', 'Feet above ground',
       'Number of people injured'],
      dtype='object')

In [49]:
def find_outliers(df):
    outlier_columns = []
    for column in numerical:
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        if ((df[column] < lower_bound) | (df[column] > upper_bound)).any():
            outlier_columns.append(column)
    return outlier_columns
    
outlier_columns = find_outliers(df)
print("Columns with outliers:", outlier_columns)

Columns with outliers: ['Wildlife: Number Struck Actual', 'Cost: Total $', 'Feet above ground', 'Number of people injured']

In [47]:
df['Feet above ground'].median()

50.0

In [53]:
df['Feet above ground'].fillna(df['Feet above ground'].median(), inplace = True)

In [55]:
df['Feet above ground'].isnull().sum()

0

In [57]:
df[categorical].isnull().sum()

Aircraft: Type                          129
Airport: Name                           129
Altitude bin                            129
Aircraft: Make/Model                      0
Wildlife: Number struck                 129
Effect: Impact to flight              23480
Effect: Indicated Damage                  0
Aircraft: Number of engines?            267
Aircraft: Airline/Operator              129
Origin State                            449
When: Phase of flight                   129
Conditions: Precipitation             23543
Remarks                                4771
Wildlife: Size                          129
Conditions: Sky                           0
Wildlife: Species                         0
Pilot warned of birds or wildlife?      129
Is Aircraft Large?                      129
dtype: int64

In [83]:
def fill_missing_values(df):
    for i in categorical:
        mode = df[i].mode()[0]
        df[i].fillna(mode, inplace = True)
fill_missing_values(df)

In [85]:
df[categorical].isnull().sum()

Aircraft: Type                        0
Airport: Name                         0
Altitude bin                          0
Aircraft: Make/Model                  0
Wildlife: Number struck               0
Effect: Impact to flight              0
Effect: Indicated Damage              0
Aircraft: Number of engines?          0
Aircraft: Airline/Operator            0
Origin State                          0
When: Phase of flight                 0
Conditions: Precipitation             0
Remarks                               0
Wildlife: Size                        0
Conditions: Sky                       0
Wildlife: Species                     0
Pilot warned of birds or wildlife?    0
Is Aircraft Large?                    0
dtype: int64

In [101]:
df.columns

Index(['Record ID', 'Aircraft: Type', 'Airport: Name', 'Altitude bin',
       'Aircraft: Make/Model', 'Wildlife: Number struck',
       'Wildlife: Number Struck Actual', 'Effect: Impact to flight',
       'FlightDate', 'Effect: Indicated Damage',
       'Aircraft: Number of engines?', 'Aircraft: Airline/Operator',
       'Origin State', 'When: Phase of flight', 'Conditions: Precipitation',
       'Remains of wildlife collected?',
       'Remains of wildlife sent to Smithsonian', 'Remarks', 'Wildlife: Size',
       'Conditions: Sky', 'Wildlife: Species',
       'Pilot warned of birds or wildlife?', 'Cost: Total $',
       'Feet above ground', 'Number of people injured', 'Is Aircraft Large?'],
      dtype='object')

In [93]:
df.reset_index(inplace = True)

In [95]:
df.to_excel('Data Preprocessed_Birdstrike_Data.xlsx', index = False)